@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
.a11y-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
body{
  background-color: #fff;
  margin: 0;
}
body *{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
img{
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
a{
  color: inherit;
  text-decoration: none;
}
/* 로고 */
.brand{
  display: flex;
  justify-content: center;
  padding: 70px 0 35px;
}
.brand a{
  display: block;
  width: 51.5625%;
  min-width: 165px;
  max-width: 280px;
}
/* 로그인 폼 */
.login-form{
  padding: 0 15px;
}
.login-form fieldset{
  display: flex;
  flex-wrap: wrap;
}
.user-id{
  width: 100%;
  margin-bottom: 8px;
}
.user-pw{
  width: 100%;
  margin-bottom: 14px;
}
.keep-login{
  background-color: lightgreen;
  width: 50%;
  order: 1;
  margin-bottom: 14px;
}
.ip-security{
  background-color: aqua;
  width: 50%;
  order: 1;
  display: none;
  margin-bottom: 14px;
}
.button-login{
  background-color: yellow;
  width: 100%;
  margin-bottom: 14px;
}
/* 입력서식 - input */
.input{
  width: 100%;
  padding: 14px 14px 13px 14px;
  font-size: 14px;
  line-height: 21px;
  border-radius: 0;
}
.input-normal{
  border: 1px solid #dadada;
  color: #999;
}
.error-message{
  display: none;
  font-size: 13px;
  line-height: 18px;
  color: #ff1414;
  padding: 8px 0;
}
/* 버튼 - button */
.button{
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 0;
  border-radius: 0px;
}
.button-primary{
  background: #03c75a;
  color: #fff;
}
/* 링크 텍스트 - a */
.ip-security a{
  color: #333
}
@media screen and (min-width: 769px){
  .brand{
    padding: 106px 0 53px;
  }

  .login-form{
    display: flex;
    justify-content: center;
  }
  .login-form fieldset{
    width: 460px;
  }
  .ip-security{    
    display: flex;
    justify-content: flex-end;
  }
}